@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="container">
        <div class="row text-justify justify-content-center">
            <p class="col-7">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor nec feugiat nisl pretium fusce id. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Mus mauris vitae ultricies leo integer malesuada. Etiam sit amet nisl purus in mollis nunc. Venenatis cras sed felis eget velit aliquet. Vestibulum morbi blandit cursus risus at ultrices. Diam in arcu cursus euismod. Cursus mattis molestie a iaculis at erat pellentesque. Vestibulum mattis ullamcorper velit sed ullamcorper morbi. Sit amet est placerat in egestas. Mi proin sed libero enim sed faucibus turpis in. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper. Egestas integer eget aliquet nibh praesent tristique magna sit amet. Amet risus nullam eget felis eget nunc lobortis. Quam vulputate dignissim suspendisse in est. Urna cursus eget nunc scelerisque viverra mauris in aliquam.

                Ut consequat semper viverra nam libero justo laoreet. Aenean sed adipiscing diam donec adipiscing tristique risus. Adipiscing tristique risus nec feugiat in fermentum posuere urna. Ornare quam viverra orci sagittis eu volutpat odio. Ultrices dui sapien eget mi proin sed libero enim. Sit amet volutpat consequat mauris nunc congue nisi vitae. Purus faucibus ornare suspendisse sed nisi. Sed turpis tincidunt id aliquet risus feugiat. Sed sed risus pretium quam vulputate dignissim suspendisse. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Est velit egestas dui id ornare. Et netus et malesuada fames ac. Aliquam id diam maecenas ultricies mi eget mauris.

                Sit amet volutpat consequat mauris. In iaculis nunc sed augue lacus viverra vitae congue eu. Elit eget gravida cum sociis natoque. A lacus vestibulum sed arcu non odio euismod. Ipsum faucibus vitae aliquet nec ullamcorper sit amet. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Volutpat sed cras ornare arcu. Sit amet dictum sit amet justo donec. Odio ut enim blandit volutpat. Eget mauris pharetra et ultrices neque. Facilisi morbi tempus iaculis urna id. Pellentesque sit amet porttitor eget dolor morbi non arcu. Justo nec ultrices dui sapien eget mi proin sed libero. Pulvinar pellentesque habitant morbi tristique senectus. Aliquet nibh praesent tristique magna sit. Sodales ut etiam sit amet nisl purus in mollis.

                Enim nulla aliquet porttitor lacus luctus accumsan tortor. Sagittis eu volutpat odio facilisis mauris sit amet massa vitae. Quis blandit turpis cursus in hac habitasse. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae. Sed turpis tincidunt id aliquet. Pellentesque id nibh tortor id aliquet. Mauris augue neque gravida in fermentum. Lectus quam id leo in. Ut diam quam nulla porttitor massa. Sem fringilla ut morbi tincidunt augue interdum velit euismod.

                Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Dapibus ultrices in iaculis nunc sed augue. Sit amet justo donec enim diam vulputate ut. Risus nec feugiat in fermentum posuere urna nec tincidunt. Sit amet risus nullam eget felis eget. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Accumsan lacus vel facilisis volutpat. Imperdiet massa tincidunt nunc pulvinar sapien. Erat velit scelerisque in dictum non consectetur a erat. Turpis massa tincidunt dui ut ornare lectus sit amet. Malesuada fames ac turpis egestas integer eget. Facilisis magna etiam tempor orci eu lobortis elementum. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Vitae justo eget magna fermentum. Dolor sit amet consectetur adipiscing elit pellentesque. Eu lobortis elementum nibh tellus molestie.

                Ut sem viverra aliquet eget sit amet tellus cras. Sapien nec sagittis aliquam malesuada bibendum. Sapien eget mi proin sed libero enim sed faucibus. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Metus dictum at tempor commodo. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Mattis vulputate enim nulla aliquet porttitor lacus luctus. Ac tortor vitae purus faucibus ornare suspendisse. Aliquam sem et tortor consequat id. Rhoncus urna neque viverra justo. Non quam lacus suspendisse faucibus interdum posuere lorem. Quam elementum pulvinar etiam non quam lacus suspendisse faucibus interdum. Id aliquet lectus proin nibh nisl condimentum. Penatibus et magnis dis parturient montes nascetur ridiculus mus. Dui vivamus arcu felis bibendum. Sit amet porttitor eget dolor morbi.

                Vel risus commodo viverra maecenas accumsan. Scelerisque varius morbi enim nunc faucibus a. Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum. Malesuada proin libero nunc consequat interdum varius sit amet. Arcu odio ut sem nulla pharetra diam sit. Et sollicitudin ac orci phasellus egestas. Congue quisque egestas diam in arcu cursus euismod quis viverra. Ante in nibh mauris cursus mattis. Amet tellus cras adipiscing enim eu turpis egestas. Maecenas accumsan lacus vel facilisis volutpat est velit egestas dui. Ac turpis egestas integer eget. Ullamcorper morbi tincidunt ornare massa eget egestas purus. Nisl suscipit adipiscing bibendum est. Arcu dui vivamus arcu felis bibendum ut tristique et egestas.

                Nulla at volutpat diam ut venenatis tellus. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. Malesuada nunc vel risus commodo viverra maecenas accumsan. Purus non enim praesent elementum facilisis leo. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. Pharetra magna ac placerat vestibulum lectus. Ut tortor pretium viverra suspendisse potenti nullam. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Dui vivamus arcu felis bibendum ut tristique et.

                Mauris a diam maecenas sed enim. Rutrum quisque non tellus orci ac auctor augue. Nunc sed velit dignissim sodales ut eu sem. Enim ut sem viverra aliquet. Nunc mi ipsum faucibus vitae aliquet. Orci eu lobortis elementum nibh tellus molestie nunc. Nunc id cursus metus aliquam eleifend mi in nulla posuere. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Hendrerit dolor magna eget est. Odio morbi quis commodo odio aenean sed adipiscing diam donec. Viverra orci sagittis eu volutpat odio facilisis mauris. Enim eu turpis egestas pretium aenean pharetra magna. Amet nisl purus in mollis nunc sed id semper risus. Massa tincidunt nunc pulvinar sapien. Eget sit amet tellus cras. Nec nam aliquam sem et.

                Enim tortor at auctor urna nunc. Cursus sit amet dictum sit amet justo donec. Neque egestas congue quisque egestas diam in arcu cursus. Sed vulputate mi sit amet mauris commodo quis imperdiet. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Velit dignissim sodales ut eu sem integer. Duis at consectetur lorem donec massa sapien. Venenatis tellus in metus vulputate eu scelerisque felis. Aliquet nec ullamcorper sit amet risus nullam eget. Massa placerat duis ultricies lacus sed turpis tincidunt id. Mollis nunc sed id semper risus. Viverra suspendisse potenti nullam ac tortor. Ut consequat semper viverra nam libero justo laoreet sit. Molestie a iaculis at erat pellentesque adipiscing commodo elit.
            </p>
        </div>
    </div>
</div>